<div class="row mx-5">
      <div class="col-sm-12">
        <h3>{{ 'menu.certifications' | translate }}</h3>
        <p>
          {{ 'certs.summary' | translate }}
        </p>
      </div>
</div>
<div class="row row mx-5">
  <p class="col-sm-12">
    Java Platform, Enterprise Edition (Java EE)</p>
  <div *ngFor="let item of lstCerts"
       class="card text-white bg-dark mb-3 mx-5  col-sm-3"
       style="max-width: 18rem;">
    <div class="card-header ">{{item.nombre}}</div>
    <div class="card-body cardCerts">
      <h6 class="card-title text-white">{{item.place}}</h6>
      <p class="card-text">{{item.year}}</p>
    </div>
  </div>
</div>

<div class="row mx-5">
  <p class="col-sm-12">
    Desarrollo web
  </p>
  <div *ngFor="let item of lstCertsWeb"
       class="card text-white bg-dark mb-3 mx-5  col-sm-3"
       style="max-width: 18rem;">
    <div class="card-header ">{{item.nombre}}</div>
    <div class="card-body cardCerts">
      <h6 class="card-title text-white">{{item.place}}</h6>
      <p class="card-text">{{item.year}}</p>
    </div>
  </div>
</div>
