<div class="alert alert-success" role="alert">

  <h3>{{ 'developer.contact' | translate }}</h3>
  <p>{{ 'developer.contactSumarry' | translate }}</p>

</div>

<div class="row">
  <div class="col-md-4 text-center">
    <p><img class="contact-item-icon" src="/assets/img/phone.png" /> <em>514-928-7658</em></p>
  </div>
  <div class="col-md-4 text-center">
    <p><img class="contact-item-icon" src="/assets/img/blog.png" /> <em><a href="https://chroniquedundev.wordpress.com/">https://chroniquedundev.wordpress.com</a></em></p>
  </div>
  <div class="col-md-4 text-center">
    <p><img class="contact-item-icon" src="/assets/img/mail.png" /> <em><a href="mailto:amwebexpert@gmail.com">amwebexpert@gmail.com</a></em></p>
  </div>
</div>
