<div class="alert alert-success" role="alert">

  <h3>{{ 'menu.technologies' | translate }}</h3>

    <p>
      {{ 'technologies.summary' | translate }}
    </p>

</div>

<div class="row px-4">
  <div class="col-md-4">

    <h3>{{ 'technologies.Languajes' | translate }}</h3>
    <ul>
      <li>Kotlin / JAVA / JEE / Android</li>
      <li>Typescript, JavaScript, Lisp, Groovy</li>
      <li>Transact-SQL (SQL Server, Sybase), PL/SQL (Oracle)</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>{{ 'technologies.devTools' | translate }}</h3>
    <ul>
      <li>VSCode, IntelliJ IDE, Eclipse, BEA Workshop, WebSphere RAD</li>
      <li>Maven, Jenkins, Sonar, Artifactory, jUnit 5</li>
      <li>Git, Github, Bitbucket, Mercurial, IBM RTC</li>
    </ul>
  </div>
  <div class="col-md-4">

    <h3>{{ 'technologies.Webserver' | translate }}</h3>
    <ul>
      <li>Open Source: JBoss, Tomcat, Jetty, NanoHTTPD</li>
      <li>LAMP,XAMPP, WAMP: PHP, MySQL, Apache</li>
    </ul>
  </div>
</div>
<!-- row -->

<div class="row px-4">
  <div class="col-md-4">
    <h3>{{ 'technologies.Oss' | translate }}</h3>
    <ul>
      <li>Linux, Ubuntu,CentOS</li>
      <li>Windows 7, 10</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>{{ 'technologies.Uis' | translate }}</h3>
    <ul>
      <li>HTML5, CSS3, SCSS, Twitter Bootstrap 4.x</li>
      <li>Angular 8.x, @ngrx/store, Jasmine, Karma</li>
      <li>React 16.x, Redux, typescript-ioc, Jest</li>
    </ul>
  </div>
  <div class="col-md-4">

    <h3>{{ 'technologies.ToolsandFrameWorks' | translate }}</h3>

    <ul>
      <li>Swagger, Postman, SoapUI, Selenium</li>
      <li>PgAdmin, SQuirreL SQL, AquaData Studio, TOAD, MySQL</li>
      <li>Spring - Boot, Data, REST, JPA, Security</li>
    </ul>
  </div>
</div>
<!-- row -->

<div class="row px-4">
  <div class="col-md-4">
    <h3>{{ 'technologies.DBs' | translate }}</h3>
    <ul>
      <li>SQLite</li>
      <li>Microsoft SQL Server</li>
      <li>MySQL, H2, HSQLDB</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>{{ 'technologies.otherTechs' | translate }}</h3>
    <ul>
      <li>PCF (Pivotal Cloud Foundry), Concourse</li>
      <li>Google Cloud, GAE Datastore, Objectify, Google Spreadsheet API</li>
      <li>Angular 8.x, React 16.x, Redux, jQuery Mobile, PhoneGap</li>
      <li>Twitter Bootstrap 4.x, Ajax, Json, HTML5/CSS3, jQuery</li>
      <li>SOA Web Services, JAX-RS, Apache CXF, SOAP, Axis, Spring WS</li>
      <li>OAuth2, Hateoas, Apache Camel, JPA2, Hibernate, Spring, JDBC</li>
      <li>EJB, Tiles, Spring MVC, Spring Rest, Spring Boot</li>
      <li>Servlet API, Spring JDBC, JSP, JMS</li>
      <li>XML, X-Path, FOP, JasperReport, iText & OpenPDF, Schemas, XSLT</li>
      <li>jChart API, Apache POI, BeanShell API, RxJS</li>
    </ul>
  </div>
</div>
<!-- row -->
