<ul class="d-flex justify-content-around social-list list-inline py-3 mx-auto">
  <li class="list-inline-item">
    <a href="#">
      <i class="fab fa-twitter fa-fw"></i>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="{{ 'developer.linkedin' | translate }}">
      <i class="fab fa-linkedin-in fa-fw" [ngStyle]="{'color': width }"></i>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="{{ 'developer.github' | translate }}">
      <i class="fab fa-github-alt fa-fw"></i>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="{{ 'developer.stackoverflow' | translate }}">
      <i class="fab fa-stack-overflow fa-fw"></i>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="{{ 'developer.codepen' | translate }}">
      <i class="fab fa-codepen fa-fw"></i>
    </a>
  </li>
</ul>
